<h1 class="text-center mb-4">Public Recipes</h1>
<div class="m-5">
  <% unless @public_recipe_data.first %>
    <h2>No public recipe available</h2>
  <% else %>
    <% @public_recipe_data.each do |recipe| %>
      <div class="d-flex flex-row justify-content-between card p-3 mb-3">
        <div>
          <h2><%= link_to recipe.name, recipe_path(recipe.id) %></h2>
          <p>By: <%= recipe.user.name%></p>
        </div>
        <div>
          <p>Total food items: <%= 0%></p>
          <p>Total price: $<%= 0%></p>
        </div>
      </div>
    <% end%>
  <% end%>
</div>
