<% if @user == @recipe.user || @recipe.public? %>
  <h1 class="text-center mb-4"><%= @recipe.name %></h1>
  <div class='d-flex flex-row justify-content-between px-5'>
    <div>
      <h4>Preparation time: <%= @recipe.preparation_time %></h4>
      <h4>Cooking time: <%= @recipe.cooking_time %></h4>
    </div>
    <% if @user == @recipe.user %>
      <div>
        <%= button_to 'ADD NEW FOOD', new_recipe_path,method: :get, class: 'btn btn-primary' %>
      </div>
      <% else %>
      <div class='d-flex flex-row'>
        <label class="mx-2" for="public">Public</label>
        <div class='form-check form-switch'>
          <input class="form-check-input" type="checkbox" id="public" checked>
        </div>
      </div>
    <% end %>
  </div>
  <div class='d-flex flex-row justify-content-between px-5 mt-5'>
    <button>Generate shopping list</button>
    <button>Add ingredient</button>
  </div>
  <hr style="padding: 0 100px; border-top: 2px solid black">
<% else %>
  <h1 class="text-center mb-4"> You cannot access this recipe's details</h1>
<% end %>
